/* BODY */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2499ff, #00f2fe);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* DISPLAY */
#display {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    animation: fadeIn 1s ease-in-out;
}
#display #myLocation {
    font-size: 2em;
    margin-bottom: 10px;
}
#display #location {
    font-size: 1em;
}

/* TEMPERATURE */
#temperatureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#temperatureContainer #temperature {
    font-size: 4em;
    font-weight: bold;
}
#temperatureContainer #temperatureIcon {
    font-size: 2em;
    margin-left: 5px;
    position: relative;
    top: -20px; /* Adjust this value to fine-tune the position */
}

/* HUMIDITY */
#humidity {
    font-size: 1.5em;
    font-weight: 300;
    color: #dfe6e9;
}

/* FADING */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 600px) {
    #display {
        width: 80%;
    }

    #myLocation {
        font-size: 3rem;
    }

    #location {
        font-size: 2em;
    }

    #temperature {
        font-size: 3em;
    }

    #humidity {
        font-size: 1.2em;
    }
}
